/Illusion Effects/Illusion Effects.sln
/Illusion Effects/Library
/Illusion Effects/Logs
/Illusion Effects/Packages
/Illusion Effects/Assembly-CSharp.csproj
/Illusion Effects/Assembly-CSharp-Editor.csproj
